/* You can add global styles to this file, and also import other style files */

.form-control.ng-invalid.ng-touched {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.form-control.ng-valid.ng-touched {
  border-width: 2px;
  border-style: solid;
  border-color: green;
}